GLOBAL DOMAIN
(Xs, Xe, Xn) -1.00 1.00 200
(Ys, Ye, Yn) -0.50 0.50 100
(Zs, Ze, Zn) -0.50 0.50 100

MPI/GPU SUBDOMAIN DECOMPOSITION
(In, Jn, Kn) 1 1 1

PHYSICAL PARAMETERS
rho_f 1.
nu 0.00025

SIMULATION PARAMETERS
duration 8500.0
CFL 0.75
pp_max_iter 2000
pp_residual 1e-6
lamb_max_iter 50
lamb_residual 1e-2
lamb_relax 1.0
lamb_cut 1e-4

BOUNDARY CONDITIONS
v_bc_tdelay 0
PRESSURE
bc.pW NEUMANN 0
bc.pE NEUMANN 0
bc.pS PERIODIC
bc.pN PERIODIC
bc.pB PERIODIC
bc.pT PERIODIC
X-VELOCITY
bc.uW DIRICHLET 0 0
bc.uE DIRICHLET 0 0
bc.uS PERIODIC
bc.uN PERIODIC
bc.uB PERIODIC
bc.uT PERIODIC
Y-VELOCITY
bc.vW DIRICHLET 0.1 0
bc.vE DIRICHLET -0.1 0
bc.vS PERIODIC
bc.vN PERIODIC
bc.vB PERIODIC
bc.vT PERIODIC
Z-VELOCITY
bc.wW DIRICHLET 0 0
bc.wE DIRICHLET 0 0
bc.wS PERIODIC
bc.wN PERIODIC
bc.wB PERIODIC
bc.wT PERIODIC

INITIAL CONDITION
init_cond SHEAR

SOLVABILITY ENFORCEMENT PLANE
out_plane NORTH

SIMULATION DRIVING CONDITIONS
p_bc_tdelay 0
gradP.x 0. 0.
gradP.y 0. 0.
gradP.z 0. 0.
g_bc_tdelay 0
g.x 0. 0.
g.y 0. 0.
g.z 0. 0.

PID CONTROLLER GAINS
Kp 0.
Ki 0.
Kd 0.

TURBULENT FORCING PARAMETERS
turbA 0.
